<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneadmax.global.sample.java">
    <queries>
        <intent>
            <action android:name="com.onestore.iaa.intent.action.REWARD" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pure.BannerActivity"/>
        <activity android:name=".pure.NativeAdActivity"/>
        <activity android:name=".common.feature.AdContentActivity"/>

        <!-- ONEAdMax app key -->
        <meta-data android:name="com.oneadmax.global.appkey" android:value="938555472" />
    </application>

</manifest>